body {
	margin: 40px;
	background-color: lightgrey;
}

#loop-panel {
	background-color: #999;
	width: 706px;
}

#track-panel {
	background-color: #999;
	width: 126px;
	align-content: left;
}

#effect-panel {
	background-color: #999;
	width: 134px;
}

#body-panel-group {
	display: flex;
	justify-content: center;
	margin: 0px;
	width: 978px
}

.flex-panel {
	border: 1px solid black;
	display: flex;
	justify-content: center;
	margin-left: 2px;
	margin-right: 2px;
	flex-wrap: wrap;
}

#loop-panel > div {
}

#add-button {
	width: 40px;
	margin-left: 1px;
}

.sample-container {
	display: flex;
	width: 308px;
       	flex-wrap: wrap;	
	justify-content: center;
	background-color: #666;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 10px;
}

.sample {
	background-color: #f1f1f1;
	width: 40px;
	height: 40px;
	margin: 2px;
}

.effect {
	background-color: #f1f1f1;
	width: 40px;
	height: 40px;
	margin: 2px;
	text-align: center;
}

.track-info {
	background-color: #aaa;
	width: 120px;
	height: 40px;
	margin: 2px;
	/*vertical-align: middle;*/
}

.remove-button {
	width: 30px;
	height: 30px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 5px;
}

#play-button {
	margin-top: 10px;
	margin-left: 1px;
}

#audio-main-group {
	display: flex;
	justify-content: center;
	margin: 0px;
}

#visualisation-screen {
	width: 320px;
	height: 240px;
	background-color: #333;
	/*border: 1px solid red;*/
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.addableSample {
	height: 40px;
	width: 40px;
	margin: 2px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.addableSample .addableSampleButton {
	background-color: aqua;
	border: 1px groove;
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 1px;
	padding: 0 0;
}

.addableSampleButton:active, .addableSampleButton:focus {
	background-color: #666666;
	border: solid darkslategray;
	outline: none;
	/* removed pointer-events: none, because it disabled onclick functionality */
}

.addableSample .addableSampleButton:hover{
	background-color: dodgerblue;
}

