body {
	margin: 40px;
	background-color: lightgrey;
}

#loop-panel {
	display: flex;
  	justify-content: center;
  	background-color: #999;
	width: 704px;
	margin: 0 auto;
	flex-wrap: wrap;
}

#track-panel {

}

#effect-panel {

}

#body-panel-group {
}

#loop-panel > div {
}

.sample {
  background-color: #f1f1f1;
  width: 40px;
  height: 40px;
  margin: 2px;
  text-align: center;
  line-height: 50px;
}
